YOLO_MODEL_PATH=models/document-yolo.onnx
YOLO_INPUT_SIZE=640
YOLO_CONFIDENCE=0.35
DOC_ORIENTATION_MODEL_PATH=models/pp-lcnet-doc-ori.onnx
TEXT_DETECTION_MODEL_PATH=models/pp-ocrv5-mobile-det.onnx
PORT=3000
HOST=0.0.0.0
MAX_UPLOAD_BYTES=20971520
MAX_CONCURRENT_PREPROCESS=2
REQUEST_TIMEOUT_MS=120000
